<% unless model.nil? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <% if model.class == String %>
      <p><%= model %></p>
    <% elsif model.class == Array %>
      <% model.each do |message| %>
        <p><%= message %></p>
      <% end %>
    <% end %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
